USE [master]
GO
/****** Object:  Database [QuanLyThuVienHVKTQS]    Script Date: 9/23/2017 7:50:56 PM ******/
CREATE DATABASE [QuanLyThuVienHVKTQS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyThuVienHVKTQS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyThuVienHVKTQS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyThuVienHVKTQS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyThuVienHVKTQS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyThuVienHVKTQS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyThuVienHVKTQS]
GO
/****** Object:  Table [dbo].[docgia]    Script Date: 9/23/2017 7:50:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[docgia](
	[sothe] [int] NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[ngaysinh] [date] NULL,
	[gioitinh] [nchar](10) NULL,
	[diachi] [nvarchar](50) NULL,
	[socmtnd] [varchar](50) NULL,
	[anhthe] [varchar](50) NULL,
	[ngaylamthe] [date] NULL,
	[handungthe] [date] NULL,
 CONSTRAINT [PK_docgia] PRIMARY KEY CLUSTERED 
(
	[sothe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MuonSach]    Script Date: 9/23/2017 7:50:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuonSach](
	[Mamuon] [int] IDENTITY(1,1) NOT NULL,
	[sothe] [int] NOT NULL,
	[masach] [int] NOT NULL,
	[soluong] [int] NULL,
	[ngaymuon] [date] NULL CONSTRAINT [DF_MuonSach_ngaymuon]  DEFAULT (getdate()),
	[hantra] [date] NULL,
	[manv] [int] NOT NULL,
 CONSTRAINT [PK_MuonSach] PRIMARY KEY CLUSTERED 
(
	[Mamuon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[nhanvien]    Script Date: 9/23/2017 7:50:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nhanvien](
	[manv] [int] IDENTITY(1,1) NOT NULL,
	[tennv] [nvarchar](50) NULL,
	[sdt] [varchar](50) NULL,
	[ngaysinh] [date] NULL,
	[gioitinh] [nchar](10) NULL,
	[diachi] [nvarchar](50) NULL,
	[socmtnd] [varchar](50) NULL,
	[anh] [varchar](50) NULL,
	[quyenhan] [varchar](50) NULL,
	[matkhau] [varchar](50) NULL,
	[note] [nvarchar](250) NULL,
 CONSTRAINT [PK_nhanvien] PRIMARY KEY CLUSTERED 
(
	[manv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[nhaxuatban]    Script Date: 9/23/2017 7:50:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[nhaxuatban](
	[manxb] [int] IDENTITY(1,1) NOT NULL,
	[tennxb] [nvarchar](50) NULL,
	[diachi] [nvarchar](50) NULL,
	[sdt] [varchar](50) NULL,
 CONSTRAINT [PK_nhaxuatban] PRIMARY KEY CLUSTERED 
(
	[manxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[sach]    Script Date: 9/23/2017 7:50:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach](
	[masach] [int] NOT NULL,
	[tensach] [nvarchar](150) NULL,
	[tentacgia] [nvarchar](150) NULL,
	[manxb] [int] NULL,
	[giatien] [decimal](18, 0) NULL,
	[soluong] [int] NULL,
	[ngonngu] [nvarchar](50) NULL,
	[sotrang] [int] NULL,
	[namxb] [int] NULL,
	[theloai] [nvarchar](50) NULL,
 CONSTRAINT [PK_sach] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 9/23/2017 7:50:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](32) NOT NULL,
	[IsAdmin] [bit] NULL CONSTRAINT [DF_User_IsAdmin]  DEFAULT ((0)),
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[MuonSach]  WITH CHECK ADD  CONSTRAINT [FK_MuonSach_docgia] FOREIGN KEY([sothe])
REFERENCES [dbo].[docgia] ([sothe])
GO
ALTER TABLE [dbo].[MuonSach] CHECK CONSTRAINT [FK_MuonSach_docgia]
GO
ALTER TABLE [dbo].[MuonSach]  WITH CHECK ADD  CONSTRAINT [FK_MuonSach_nhanvien] FOREIGN KEY([manv])
REFERENCES [dbo].[nhanvien] ([manv])
GO
ALTER TABLE [dbo].[MuonSach] CHECK CONSTRAINT [FK_MuonSach_nhanvien]
GO
ALTER TABLE [dbo].[MuonSach]  WITH CHECK ADD  CONSTRAINT [FK_MuonSach_sach1] FOREIGN KEY([masach])
REFERENCES [dbo].[sach] ([masach])
GO
ALTER TABLE [dbo].[MuonSach] CHECK CONSTRAINT [FK_MuonSach_sach1]
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD  CONSTRAINT [FK_sach_nhaxuatban] FOREIGN KEY([manxb])
REFERENCES [dbo].[nhaxuatban] ([manxb])
GO
ALTER TABLE [dbo].[sach] CHECK CONSTRAINT [FK_sach_nhaxuatban]
GO
USE [master]
GO
